<div>
  <span i18n="@@welcomeText">Welcome</span>
</div>
<div>
  <input i18n-title="@@SheepCounter" title="Sheep counter" type="number" min="0" [(ngModel)]="counter">
  <span i18n="@@icuText">There {counter, plural, =0 {is no sheep} one {is one sheep} other {are {{counter}} sheep}}</span>
</div>
<div>
  <span [innerHTML]="getCounterText()"></span>
</div>
<div>
  <span>{{date | date}}</span>
</div>
<div>
  <select (change)="updateLanguage($event)" [value]="language">
    <option value="en-US" i18n="@@LanguageEn">English</option>
    <option value="de-DE" i18n="@@LanguageDe">German</option>
  </select>
</div>
